* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  accent-color: #5f428f;
  --coolgrey-100: #faf9fb;
  --coolgrey-200: #f2f1f4;
  --coolgrey-300: #ece9ee;
  --coolgrey-400: #e2e0e5;
  --coolgrey-500: #a6a1af;
  --coolgrey-600: #868091;
  --coolgrey-700: #676170;
  --coolgrey-800: #504c57;
  --coolgrey-900: #3c3941;
  --coolgrey-1000: #232027;
  --coolgrey-1100: #0f0e11;
  --green-200: #ecf9f5;
  --cursive-font-stack: "Gaegu", "Marker Felt", "Segoe Print", "Bradley Hand",
    Chilanka, TSCu_Comic, casual, cursive;
  --sans-serif-stack: "Overpass", "Varela", "Varela Round", "Source Sans Pro",
    "Work Sans", "Lato", "Noto Sans", "Assistant", "Libre Franklin", "Open Sans",
    "Roboto Condensed", "Titillium Web", "Raleway", "Merriweather Sans",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
  font-size: 16px;
}

body {
  color: var(--coolgrey-900);
  font-family: var(--sans-serif-stack);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  /* TODO: Remove before publishing */
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='58' height='58'%3E%3Ccircle r='28' cx='28.5' cy='28.5' fill='rgba%280,0,0,0.1%29' stroke='deeppink' stroke-width='1'/%3E%3C/svg%3E")
      28.5 28.5,
    auto;
}

h1,
h2,
h3 {
  font-family: var(--cursive-font-stack);
  line-height: 1.2;
}

.page {
  background-color: var(--green-200);
  min-height: 667px;
}

.content-area {
  max-width: 75rem;
  margin: 0 auto;
}

#intro,
#outro,
#safety {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}
#intro {
  margin-bottom: 20rem;
}

#scrolly,
#safety {
  background-color: #fff;
  padding: 1rem;
}

article {
  /* pointer-events: none;*/ /* debugging */
  padding: 0;
  max-width: 20rem;
  margin: 0 auto;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: transparent;
  /* outline: 1px dashed #cadff7; */
  z-index: 0;
}

figure #chart-title {
  font-family: var(--cursive-font-stack);
  text-align: center;
  padding: 1rem;
  position: absolute;
  /* top: 50%; */
  /* top: 30%; */
  top: 16px;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  line-height: 1;
  /* font-weight: 900; */
  /* font-weight: 700; */
  color: var(--coolgrey-900);
  min-width: 21rem;
}

.step {
  color: #fff;
  margin: 0 auto 2rem auto;
  min-height: 40rem;
  /* pointer-events: none; */
  /* outline: 1px dashed #e8686a; */
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.step:last-child {
  margin-bottom: 0;
}

/* .step.is-active p { */
/*   /1* background-color: rgba(255, 255, 255, 0.8); *1/ */
/*   /1* color: var(--coolgrey-900); *1/ */
/* } */

.step.is-active p {
  border-color: var(--coolgrey-500);
}

.step.is-active .overlay-box {
  opacity: 1;
}

.overlay-box {
  min-height: 90px;
  position: relative;
  opacity: 0.3;
  /* background-color: rgba(80, 0, 0, 0.1); */
}

.step p {
  text-align: center;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--coolgrey-900);
  background-color: #fff;
  border: 1px solid var(--coolgrey-400);
  /* position: absolute; */
  /* top: 50%; */
  /* top: 0; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  /* position: sticky; */
}

#viz {
  display: flex;
  justify-content: center;
}

.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.snek-img {
  width: 20rem;
  /* display: none; */
  /* position: sticky; */
}

tspan.long-name {
  letter-spacing: -0.05rem;
}

.fun-facts-list li,
.learn-more-links-list li {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

summary {
  cursor: pointer;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox__content {
  width: 100%;
  height: 100%;
  padding: 15em;
}

.lightbox .snek-img {
  display: block;
  width: 100%;
  height: 100%;
}
