* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* TODO: delete this when ready to publish */
  background-color: #ebebeb;
}

body {
  margin: 0px auto;
  max-width: 375px;
  line-height: 1.5;
  font-size: 18px;
  color: #444;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.page {
  background-color: #fff;
}
