* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  accent-color: #5f428f;
  --coolgrey-100: #faf9fb;
  --coolgrey-200: #f2f1f4;
  --coolgrey-300: #ece9ee;
  --coolgrey-400: #e2e0e5;
  --coolgrey-500: #a6a1af;
  --coolgrey-600: #868091;
  --coolgrey-700: #676170;
  --coolgrey-800: #504c57;
  --coolgrey-900: #3c3941;
  --coolgrey-1000: #232027;
  --coolgrey-1100: #0f0e11;
}

html {
  /* TODO: delete this when ready to publish */
  background-color: #ebebeb;

  font-size: 16px;
}

body {
  font-family: "Source Sans Pro", "Work Sans", "Lato", "Noto Sans", "Assistant",
    "Libre Franklin", "Open Sans", "Roboto Condensed", "Titillium Web",
    "Varela Round", "Raleway", "Merriweather Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0px auto;
  max-width: 375px;
  line-height: 1.5;
  color: var(--coolgrey-900);
}

h1,
h2,
h3 {
  font-family: "Gaegu", "Marker Felt", "Comic Sans MS", cursive;
  line-height: 1.2;
}

.page {
  background-color: #ecf9f5;
  min-height: 667px;
}

h1 {
  font-weight: 400;
  padding-top: 1rem;
  text-align: center;
}
h1 strong {
  font-weight: 700;
}

#intro {
  max-width: 40rem;
  margin: 1rem auto;
  margin-bottom: 320px;
}

#outro {
  height: 640px;
}

#scrolly {
  position: relative;
  background-color: #fff;
  padding: 1rem;
}

article {
  position: relative;
  padding: 0;
  max-width: 20rem;
  margin: 0 auto;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: transparent;
  /* outline: 1px dashed #cadff7; */
  z-index: 0;
}

figure p {
  font-family: "Gaegu", "Marker Felt", "Comic Sans MS", cursive;
  text-align: center;
  padding: 1rem;
  position: absolute;
  /* top: 50%; */
  /* top: 30%; */
  top: 16px;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  line-height: 1;
  /* font-weight: 900; */
  /* font-weight: 700; */
  font-weight: 400;
  color: var(--coolgrey-900);
  min-width: 343px;
}

.step {
  margin: 0 auto 2rem auto;
  color: #fff;
  pointer-events: none;
  /* outline: 1px dashed #E8686A; */
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.step:last-child {
  margin-bottom: 0;
}

/* .step.is-active p { */
/*   /1* background-color: rgba(255, 255, 255, 0.8); *1/ */
/*   /1* color: var(--coolgrey-900); *1/ */
/* } */

.step p {
  text-align: center;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: var(--coolgrey-900);
  background-color: #fff;
  border: 1px solid #e2e0e5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
